* {
  /*box-sizing: border-box;
    outline: 2px solid limegreen !important;   
*/
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(224, 67, 67);
}

@font-face {
  font-family: Pixeboy;
  src: url(./others/Pixeboy-z8XGD.ttf);
}

#pokedex-background {
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 700px;
  background-image: url(https://pic.onlinewebfonts.com/svg/img_573410.png);
  background-position: 200px 100px;
  background-repeat: no-repeat;
  filter: invert(100%);
}

#pokedex-display {
  position: relative;
  z-index: 2;
  width: 700px;
  height: 700px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 120, 255, 0.9);
  border: 3px solid rgb(100, 167, 245);
}

#pokedex-navbar {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 100%;
  height: 50px;
  align-items: flex-start;
  justify-content: center;

}

#pokedex-navbar-title {
  margin: 0;
  padding: 0;
  display: flex;
  height: 90%;
  width: 300px;
  color: white;
  justify-content: center;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(70, 184, 250);
}

#pokedex-navbar-title-h1 {
  -webkit-text-stroke: 1px black;
  height: 100%;
  font-family: Pixeboy;
  margin: 0;
}


#pokedex-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#pokemon-body-left {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#pokemon-image-div {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(177, 214, 210);
  border: 3px solid black;
  border-radius: 20px;
}

#pokemon-image {
  padding: 0;
  margin: 0;
  width: 280px;
  height: 280px;
  border: 3px solid rgb(47, 176, 161);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#pokemon-body-right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

#pokedex-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
}

#pokedex-footer {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  width: 100%;
  height: 40px;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(100, 167, 245, 0.3);
}

#pokedex-footer-title {
  margin: 0;
  display: flex;
  height: 90%;
  width: 300px;
  color: white;
  justify-content: center;
}

#pokedex-footer-title-h1 {
  height: 100%;
  font-family: Pixeboy;
  margin: 0;
  font-size: xx-large;
}